---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Certifications">
  <div class="container">
    <h1>Certifications</h1>

    <h3>Kaggle - Pandas</h3>
    <p>Manipulation et analyse de données avec Pandas.</p>

    <h3>Linux Certification</h3>
    <p>Administration système, Bash, environnement Linux.</p>

  </div>
</BaseLayout>